body {
  font-family:  Times, serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5a354f;
  color: #fff;
  padding: 21px;
  text-align: center;
}

header h1 {
  margin: 0;
  color: rgb(198, 179, 199);
  
}

input[type="text"] {
  padding: 10px;
  width: 60%;
  margin-top: 11px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

#randomMealContainer {
  text-align: center;
}

#mealImage {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  max-height: 200px; 
  margin-bottom: 10px; 
}

.In_ {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #5a354f;
}

.In_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.cl {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cl:hover,
.cl:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#searchResultsContainer {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

#searchResultsContainer .meal {
  margin: 10px; 
  width: 200px;
}

#searchResultsContainer .meal img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  main {
    padding: 10px;
  }

  .mealImage {
    max-height: 150px; 
  }

  .In_content {
    width: 90%;
    margin: 25% auto;
  }
}
